.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.logo {
  position: absolute;
  right: 70px; /* Ajusta a posição da logo */
  top: 50%;
  transform: translateY(-50%);
  height: 33px; /* Reduz a altura da logo */
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: #111;
}

.openbtn:hover {
  background-color: #444;
}

.sidebar-profile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0; /* Altera para a direita */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar-profile a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar-profile a:hover {
  color: #f1f1f1;
}

.sidebar-profile .closebtn-profile {
  position: absolute;
  top: 0;
  left: 65px; /* Altera para a esquerda */
  font-size: 36px;
  margin-left: 50px;
}

.openbtn-profile {
  margin-right: 10px; /* Altera para a direita */
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: #111;
}

.openbtn-profile:hover {
  background-color: #444;
}


.rounded-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
}
.rounded-table th, .rounded-table td {
    border: none;
}
.rounded-table thead th {
    background-color: #d3d3d3;
}
.rounded-table tbody tr {
    background-color: #ffffff;
}
.rounded-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.rounded-table tbody tr:hover {
    background-color: #e9ecef;
}
.rounded-table td, .rounded-table th {
    padding: 12px;
}

.rounded-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
.rounded-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}
.btn-rounded {
    border-radius: 20px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 60px; /* Ajuste conforme necessário para evitar sobreposição */
}

.form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.progress-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px; /* Adicione espaço extra para o footer */
}

.progressbar {
  counter-reset: step;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  max-width: 750px;
  z-index: 5;
}

.progressbar li {
  counter-increment: step;
  text-align: center;
  flex: 1;
  position: relative;
}

.progressbar li::before {
  content: counter(step);
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: white;
  line-height: 25px;
}

.progressbar li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child::after {
  content: none;
}

.progressbar li.active::before, .progressbar li.active::after {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

.action-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
}

.edit-button {
  background-color: rgb(61, 61, 192);
}

.delete-button {
  background-color: red;
}

.action-button i {
  font-size: 1rem;
}

.corpo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url('images/imagem_login.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative; /* Necessário para o ::before funcionar corretamente */
  overflow: hidden; /* Para garantir que o conteúdo não ultrapasse o container */
}

.corpo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit; /* Herda o fundo da classe corpo */
  filter: blur(2px); /* Define o desfoque (ajuste conforme necessário) */
  z-index: 1; /* Define o z-index para que o container de login fique acima */
}

.login-container {
  max-width: 400px;
  width: 100%;
  z-index: 2; /* Certifique-se de que o login-container fique acima do fundo desfocado */
  position: relative; /* Necessário para manter o contexto de empilhamento */
}

.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}