body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    zoom: 0.67; /* Ajuste o zoom */
}

.header1 {
    height: 100px;
    background-color: #ffffff;
    color: #004873;
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 200px;
    text-align: right;
}

.date {
    font-size: 42px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20px;
}

.logo {
    width: 300px;
    height: auto;
    margin-left: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.table-container {
    overflow-x: auto;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
    font-size: 32px;
}

th {
    background-color: #005ead;
    color: #fefefe;
}

tbody tr:hover {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #40a5ef;
    color: #ece5e5;
}

.image-display-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff; /* Background color for the image container */
}

#image-preview {
    max-width: 100%;
    max-height: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .header1 {
        flex-direction: column;
        text-align: center;
    }

    .time, .date {
        font-size: 32px;
    }

    .logo {
        width: 200px;
    }

    th, td {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .header1 {
        padding: 10px;
    }

    .time, .date {
        font-size: 24px;
    }

    .logo {
        width: 150px;
    }

    th, td {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .header1 {
        height: auto;
        padding: 5px;
    }

    .time, .date {
        font-size: 18px;
    }

    .logo {
        width: 100px;
    }

    th, td {
        font-size: 16px;
    }
}
