body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #ffffff; /* Cor de fundo branco */
    zoom: 0.63; /* Ajuste o zoom para TV */
}

.header1 {
    height: 100px;
    background-color: #f2f2f2; /* Azul escuro */
    color: #164193;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.date {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.logo {
    width: 300px;
    height: auto;
}

.logo2 {
    /* width: 300px; */
    height: 68px;
    position: absolute;
    right: 315px;
}


.main-content {
    display: flex;
    flex-direction: column;
}

.table-size {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    background-color: #ffffff;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1cm; /* Ajustar espaçamento para melhor visualização */
}

td {
    padding: 15px;
    text-align: left;
    font-size: 35px;
    color: #fefefe; /* Cor do texto */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
th {
    background-color: #030063cf; /* Azul claro */
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding: 15px;
    text-align: left;
}

/* tbody tr:hover {
    background-color: #d19ff8; /* Azul claro no hover */
} */

tbody tr:nth-child(even) {
    background-color: #bc79f0;
    color: #ffffff;
}

.image-display-container {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%; /* Ajuste de altura para el contenedor */
    display: flex-start;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
}

#image-preview {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Asegura que la altura se ajuste proporcionalmente */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


    .linha-confirmada {
        background-color: #05ad2c; /* Verde claro */
    }

    .linha-cancelada {
        background-color: #bd0010; /* Vermelho claro */
    }


/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .header1 {
        flex-direction: column;
        text-align: center;
    }

    .time, .date {
        font-size: 64px;
    }

    .logo {
        width: 250px;
    }

    th, td {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .header1 {
        padding: 10px;
    }

    .time, .date {
        font-size: 48px;
    }

    .logo {
        width: 200px;
    }

    th, td {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .header1 {
        height: auto;
        padding: 5px;
    }

    .time, .date {
        font-size: 36px;
    }

    .logo {
        width: 150px;
    }

    th, td {
        font-size: 20px;
    }
}
